@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}


body{
    font-family: Rubik, sans-serif;
    color: #3a3a3a;}

h2 {
    font-family: Rubik, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;}

    /* logo */

#logo {
    font-family: Monoton, sans-serif;
    color: #4C2039;
    float: left;
    font-size: 300%;
    line-height: 75px;
}

    /* nav menu */

#nav-menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
    margin-right: 40px;
    line-height: 75px;
    float: right;
}
#nav-menu li{
    float: left;
    margin-right: 25px;
}

#nav-menu a{
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: #FD005F;
  }

.now {
border-bottom: 2px solid #AC194D;
}

/* main image*/

#hero-photo {    
    height: 700px;
    width: 100%;
    background: url(/assets/images/cinema-entrance.jpg) no-repeat center center;
    overflow: hidden;
    animation-name: zoom-out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/*animation*/

@keyframes zoom-out {
    from {
        transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}