@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Rubik, sans-serif;
    color: #3a3a3a;
}

h2 {
    font-family: Rubik, sans-serif;
    letter-spacing: 3px;
}

/* logo */

#logo {
    font-family: Monoton, sans-serif;
    color: #4C2039;
    float: left;
    font-size: 300%;
    line-height: 75px;
    margin-left: 30px;
    margin-right: 30px;
}

/* nav menu */

#nav-menu {
    font-size: 120%;
    letter-spacing: 3px;
    list-style-type: none;
    line-height: 75px;
    float: right;
}

#nav-menu li {
    float: left;
    margin-right: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    color: #FD005F;
}

.now {
    border-bottom: 2px solid #AC194D;
}

/* main image*/


#hero-photo {
    height: 700px;
    width: 100%;
    background: url(../images/cinema-entrance.jpg) no-repeat center center;
    overflow: hidden;
    animation-name: zoom-out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    position: relative;
}

/*animation*/

@keyframes zoom-out {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1);
    }
}


#welcome-message {
    letter-spacing: 3px;
    width: 270px;
    height: 200px;
    color: white;
    padding: 10px;
    background-color: black;

    bottom: 30px;
    left: 150px;
    position: absolute;
}

/*main section*/

.tittle {
    margin: auto;
    background-color: #AC194D;
    padding: 25px;
    text-align: center;
    border: 30px solid white;
    color: white;
}


#main-activities {
    background-color: white;
    width: 100%;
}

.left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.center {
    padding-top: 30px;
    width: 33%;
    margin: auto;
}

.activity {
    width: 360px;
    height: 360px;
    padding: 30px;
    border-style: solid;
    border-color: #FD005F;
    margin: 0 auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-bottom: 20px;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding-bottom: 20px;
}

.text-center {
    text-align: center;
}

/* gallery */

#gallerysection {
    width: 95%;
    clear: both;
    line-height: 0;
    column-count: 3;
    margin: auto;
    padding-top: 20px;
}

#gallerysection>img {
    width: 100%;
    border-radius: 25px;
    margin-bottom: 2px;
}

/* form section */

#form {
    width: 100%;
    height: 550px;
    background: url(../images/lights-theatre.jpeg);
    overflow: hidden;
    clear: left;
}

.choose-form {
    margin: 30px;
    color: black;
    max-width: 400px;
    padding: 20px;
    float: left;
    background-color: rgba(231, 226, 226, 0.6);

}

.text {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 0px 0;
    border: 1px solid black;
    border-radius: 5px;
}

.h1loc {
    margin-left: 30px;
    margin-top: 20px;
}

#message {
    height: 100%;
    width: 100%;
    min-height: 50px;
    resize: none;
}

.button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #AC194D;
    color: #fafafa;
    display: block;
}

/* map */
.location {
    display: inline;
    clear: both;
    overflow: hidden;
}

.map {
    width: 55%;
    height: 300px;
    float: left;
    margin-top: 25px;
    margin-left: 25px;
}

.contact {
    width: 25%;
    height: 300px;
    float: right;
    margin-top: 0px;
    margin-right: 25px;

}

/* footer */

.socialmedia {
    text-align: center;
    clear: both;
}

.socialmedia li {
    display: inline;
}

.socialmedia i {
    font-size: 150%;
    color: #7F0236;
    padding: 1.5%;
}

/*media q*/
/*1300px disw and down*/

@media screen and (max-width: 1300px) {

    #hero-photo {
        height: 350px;
        width: 100%;
    }

    #welcome-message {
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #main-activities {
        width: 65%;
        height: 100%;
        margin: auto;
    }

    #main-activities p {
        clear: both;
        text-align: justify;
    }

    .activity {
        width: 100%;
        height: 100%;
        padding: 0;
        border-style: none;
        margin: 0 auto;

    }

    .left,
    .right {
        width: 100%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        clear: both;

    }

    .center {

        width: 100%;
        float: left;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: auto;
    }

    .centerimg {
        width: 40%;
    }

}

/*media q*/
/*for galleries*/
@media screen and (max-width: 900px) {

    #gallerysection {
        column-count: 1;
    }

    /* map */
    .location {
        display: inline;
        clear: both;
        overflow: hidden;
    }

    .map {
        width: 80%;
        height: 200px;
        float: left;
        margin-top: 25px;
        overflow: hidden;
        clear: both;
    }

    .contact {
        width: 100%;
        height: 115px;
        float: left;
        margin-top: 20px;
        clear: both;
        margin-left: 25px;

    }
}

/*media q*/
/*for logo and nav bar*/
@media screen and (max-width: 600px) {

    /* logo */

    #logo {
        width: 100%;
        font-family: Monoton, sans-serif;
        font-size: 250%;
        margin: auto;
        text-align: center;
    }

    /* nav menu */

    #nav-menu {
        width: 100%;
        font-size: 120%;
        line-height: 75px;
        margin: auto;
        text-align: center;
    }

    #nav-menu li {
        width: 100%;
        display: inline;
        clear: both;
        margin: auto;
        float: none;
    }
}